<html>
  <head>
    <script>
      $(function() {
        // Multiple images preview in browser
        var imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
              var filesAmount = input.files.length;

              for (i = 0; i < filesAmount; i++) {
                  var reader = new FileReader();

                  reader.onload = function(event) {
                      $($.parseHTML('<img>')).attr({'src': event.target.result,"height":"120px", "width":"120px"}).appendTo(placeToInsertImagePreview);
                  }

                  reader.readAsDataURL(input.files[i]);
              }
          }
      };

      $('#gallery-photo-add').on('change', function() {
          imagesPreview(this, 'div.gallery');
      });
    });
    </script>
  </head>
  <body>
    <div class="modal fade bd-example-modal-lg"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel" style = "padding-left:; 10px;">Create a post</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for :post , url: post_index_path ,remote: true do |f| %>
              <div class="form-inputs">
                <%= f.text_area(:content, {:class => 'form-control', :rows => "10",:placeholder => "what do you want to talk about ?" , :style => "padding:20px;border:0;",:id => "placeholder-size"})%>
                    
                <div class="gallery"></div>
              </div>

              <%= f.file_field :image_upload, id: "gallery-photo-add",multiple: true %>
          
              <%= f.submit("upload" , {:class => 'btn btn-primary',:style=> "float: right;margin-top: 15px;",:label=> "upload"})%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


